* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fafafa;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

.hidden-from-sighted-users {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav a {
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}

figure img.hero-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.hidden-from-everyone {
    display: none;
}

main article section p, main aside section p {
    font-size: 16px;
}

main article section figure img.float-left {
    float: left;
    margin-right: 25px;
}

main article section figure img.float-right {
    float: right;
    margin-left: 25px;
}

main article.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main article section.content-card {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

main article section.content-card img {
    max-height: 200px;
}

main article section.content-card h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

main aside.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
}

main aside section.benefit-card {
    margin-bottom: 32px;
    color: #ffffff;
}

main aside section.benefit-card h3 {
    margin-bottom: 10px;
    text-align: center;
}

main aside section.benefit-card img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}



footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer p.with-love {
    font-size: 20px;
}
